*{
  margin: 0;
  box-sizing: border-box;
}


$bg: #fff;
// clock
$clock-size: 50vh;
$clock-size-mobile: 50vw;
$clock-border: #6E7582;
$clock-border-width: $clock-size/50;
$clock-bg: #fff;
// marks
$clock-mark: #6E7582;
$h-marks-width: 1.8%;
$h-marks-height: 7.4%;;
$m-marks-width: .7%;
$m-marks-height: 4.5%;
// H-M hands
$h-m-hand-bg: #555;
// H hand
$h-hand-width: 1.5%;
$h-hand-height: 50%;
// M hand
$m-hand-width: $h-hand-width;
$m-hand-height: 82%;
// S hand
$s-hand-bg: #BB6464;
$s-hand-width: .7%;
$s-hand-height: 82%;


html{
  height: fill-available;
}

body{
  background: $bg;
  height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clock{
  height: $clock-size;
  width: $clock-size;
  border: $clock-border-width solid $clock-border;
  border-radius: 50%;
  background: $clock-bg;
  position: relative;
  .h-marks, .m-marks{
    width: 100%;
    height: 100%;
    position: absolute;
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        width: $h-marks-width;
        height: $h-marks-height;
        background: $clock-mark;
        border-radius: .3vh;
      }
      @for $i from 1 through 12 {
        &:nth-child(#{$i}){
          transform: rotate(calc(#{$i}*30deg));
        }
      }
    }
  }

  .m-marks{
    div{
      &::after{
        width: $m-marks-width;
        height: $m-marks-height;
      }
      @for $i from 1 through 60 {
        &:nth-child(#{$i}){
          transform: rotate(calc(#{$i}*6deg));
        }
      }
    }
  }

  .h-hand, .m-hand, .s-hand{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      width: $h-hand-width;
      height: $h-hand-height;
      background: linear-gradient(to bottom, $h-m-hand-bg, $h-m-hand-bg 50%, transparent 50%, transparent);
    }
  }
  .m-hand{
    div{
      height: $m-hand-height;
    }
  }
  .s-hand{
    div{
      width: $s-hand-width;
      height: $s-hand-height;
      background: linear-gradient(to bottom, $s-hand-bg, $s-hand-bg 60%, transparent 60%, transparent);
    }
    span{
      display: block;
      width: 3%;
      height: 3%;
      position: absolute;
      background: $s-hand-bg;
      border-radius: 50%;
    }
  }
}





@media screen and (orientation: portrait){
  .clock{
    height: $clock-size-mobile;
    width: $clock-size-mobile;
    border-width: $clock-size-mobile/50;
  }
}